.CardWrapper {
  display: flex;
  flex-direction: column;
}

.StyledPaper {
  border-radius: 0.5rem;
  transition:
    box-shadow 0.3s,
    transform 0.3s;
}

.StyledPaper:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.StyledAmountAndPerformanceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0;
}

.StyledAmount {
  font-weight: 600;
  font-size: 36px;
  margin: 0;
}

.StyledAmountPurpleColour {
  font-weight: 600;
  font-size: 36px;
  margin: 0;
  color: var(--color-primary-main);
}

.StyledPerformanceWrapper {
  @apply flex gap-2 items-center  border-[#D5DDE2] border-2  text-green-500 h-6 p-2 rounded-md;
}
