.CardWrapper {
  display: flex;
  flex-direction: column;

}

.StyledPaper {
  border-radius: var(--border-radius-md);
  background-color: var(--color-container-color);
  border: 1px solid var(--color-container-outline);
  padding: var(--spacing-md);
  height: 100px; /* no theme value */
}

.StyledAmountAndPerformanceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.StyledAmount {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-4xl);
  margin: 0;
  color: var(--color-text-primary);
}

.StyledAmountPurpleColour {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-4xl);
  margin: 0;
  color: var(--color-primary-main);
}

.StyledTitle { 
  color:var(--color-card-title);
}

.StyledPerformanceWrapper {
  display: flex;

}


.StyledPerformance {
  display:flex;
  align-items:center;
  align-self: flex-end;
  gap:var(--spacing-md);
  padding:var(--spacing-xs);
  color: var(--color-text-green);
  font-weight: var(--font-weight-semibold);
  border: 1px solid var(--color-primary-main);
  border-radius: var(--border-radius-md);
}