 
.StyledImageWrapper {
    position:relative;
    padding:var(--spacing-3xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
    border: 1px solid var(--color-container-outline);
    background-color: var(--color-container-color);
    border-radius: var(--border-radius-xl);
  }

  
  .StyledBigTeaserHeadlineText {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    text-align: center;
  }