.StyledHeaderWrapper {
  background-color: var(--color-background-white);
  @apply px-5 sm:px-10 md:px-16 lg:px-20 2xl:px-52;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.StyledMenuList {
  display: flex;
  gap: 1rem;
}

.StyledAccountActionsWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);

  /* @apply xl:flex ; */
}

.StyledAccountProfileImage {
  @apply rounded-full aspect-square object-cover ;
}

@media screen and (max-width: 960px) {
  .StyledHeaderWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .StyledMenuList {
    display: none;
  }

  .StyledAccountActionsWrapper {
    display: none;
  }

  
}

.StyledLogoutButton {
  background-color: var(--color-secondary-main);
  color: var(--color-background-white);
  padding: var(--spacing-sm);
  display: none;
  @apply rounded-md;
}

@media screen and (min-width: 960px) {
  .StyledLogoutButton {
  display: block;

  }

  .StyledAccountActionsWrapper {
    display: flex;
  }
  
}

.StyledLogoutButton:hover {
  background-color: var(--color-secondary-main);
  opacity: 0.8;
  @apply transition-opacity;


}


