.StyledHeaderWrapper {
  background-color: var(--color-background-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-6xl);
  padding-left:var(--spacing-md);
  padding-right:var(--spacing-md);
}

.StyledMenuList {
  display: flex;
  gap: 1rem;
}

.StyledAccountActionsWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);

}

.StyledAccountProfileImage {
  aspect-ratio: 1/1;
  border-radius: 99px;
  object-fit: cover
}



.StyledLogoutButton {
  background-color: var(--color-secondary-main);
  color: var(--color-background-white);
  padding: var(--spacing-sm);
  display: none;
  border-radius: var(--spacing-sm);
}


.StyledLogoutButton:hover {
  background-color: var(--color-secondary-main);
  opacity: 0.8;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;


}

/* Medias */

@media screen and (min-width: 600px) {
 
  .StyledHeaderWrapper {
    padding-left:34px;
    padding-right:34px;

  }
  
}


@media screen and (min-width: 960px) {
  .StyledLogoutButton {
  display: block;

  }

  .StyledAccountActionsWrapper {
    display: flex;
  }

  .StyledHeaderWrapper {
    padding-left:64px;
    padding-right:64px;

  }
  
}



@media screen and (min-width: 1280px) {
 

  .StyledHeaderWrapper {
    padding-left:80px;
    padding-right:80px;

  }
  
}


@media screen and (min-width: 1920px) {
 
  .StyledHeaderWrapper {
    padding-left:200px;
    padding-right:200px;

  }
  


}

@media screen and (max-width: 960px) {
 
  .StyledMenuList {
    display: none;
  }

  .StyledAccountActionsWrapper {
    display: none;
  }

  
}