
.StyledListItem {
  list-style-type: none;
}

.StyledLabelText {
  font-weight: var(--font-weight-medium);
  color: var(--color-navigation-item);
  transition-duration: 250ms;
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);

}

.StyledLabelTextActive {
  color: var(--color-primary-main);
  background-color: #f2f6fd;
  pointer-events: none;
}

.StyledLabelText:hover {
  color: var(--color-primary-main);
  background-color: #f2f6fd;
  cursor: pointer;
}

