/* styles.module.css */

.StyledListItem {
  list-style-type: none;
}

.StyledLabelText {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-navigation-item);
  transition-duration: 250ms;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.StyledLabelTextActive {
  color: var(--color-primary-main);
  background-color: #f2f6fd;
  pointer-events: none;
}

.StyledLabelText:hover {
  color: var(--color-primary-main);
  background-color: #f2f6fd;
  cursor: pointer;
}
