
.StyledListItem {
  list-style-type: none;

}

.StyledLabelText {
  font-weight: var(--font-weight-medium);
  color: var(--color-navigation-item);
  transition-duration: 250ms;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  text-decoration: none;
  font-size: var(--font-size-xs);
}

.StyledLabelTextActive {
  color: var(--color-primary-main);
  background-color: var(--color-icon-background);
  font-size: var(--font-size-xs);
  pointer-events: none;
}

.StyledLabelText:hover {
  color: var(--color-primary-main);
  background-color: var(--color-icon-background);
  cursor: pointer;
}

