 
.StyledCTAWrapper {
    position:relative;
    padding:var(--spacing-3xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    background-color: var(--color-primary-main);
    border-radius: var(--border-radius-xl);
    -webkit-border-radius: var(--border-radius-xl);
    -moz-border-radius: var(--border-radius-xl);
    -ms-border-radius: var(--border-radius-xl);
    -o-border-radius: var(--border-radius-xl);
  }

  .StyledParagraphAndCtaButtonWrapper {
    display: flex;
    flex-direction: column;
    gap:var(--spacing-md);
    width: 100%;
  }



  
  .StyledCTATeaserHeadlineText {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    text-align: center;
    width: 100%;
  }


  .StyledCTAButton {
    text-transform: uppercase;
    color: #000000;
    border: none;
    background-color: var(--color-white);
    padding: var(--spacing-md) var(--spacing-3xl);
    border-radius: var(--border-radius-xl);
    -webkit-border-radius: var(--border-radius-xl);
    -moz-border-radius: var(--border-radius-xl);
    -ms-border-radius: var(--border-radius-xl);
    -o-border-radius: var(--border-radius-xl);
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    flex-grow: 1;
    white-space: nowrap;
    flex-grow: 0;
    align-self: center;

}

.StyledCTAButton:hover { 
    opacity: 0.8;
}


@media (min-width: 960px) {
    .StyledParagraphAndCtaButtonWrapper {
        flex-direction: row;
        justify-content: space-between;
    }


  .StyledParagraphWrapper { 
    flex-basis:50%;
    text-align: left !important;
  }

  .StyledCTATeaserHeadlineText {
    text-align: left;
  }
  }