.StyledCardWrapper {
  padding-top: var(--spacing-xl);

}

.StyledHeadlineAndFilterWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-md);
}

.StyledHeadline {
  font-size: var(--font-size-lg);
  font-weight: bolder;
}

.StyledBigCardsWrapperSection {
  margin-top: var(--spacing-2xl);
}