.StyledCardWrapper {
  margin-top: var(--spacing-md);

}

.StyledHeadlineAndFilterWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-md);
}

.StyledHeadline {
  font-size: var(--font-size-lg);
  font-weight: bolder;
}

.StyledBigCardsWrapperSection {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .StyledDashboardPage {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  .StyledDashboardPage {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .StyledBigCardsWrapperSection {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
