.StyledHeaderLanding { 
    padding:  var(--spacing-lg);
    
}

.StyledHeaderLandingContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: inherit;

}

.StyledNavigationItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-container-color);
    gap: var(--spacing-lg);
    background-color: #1E1D3A;
    border-radius: var(--border-radius-full);
    border: 1px solid var(--color-container-outline);
    padding: var(--spacing-md) var(--spacing-5xl);


}

.StyledNavigationItem {
    text-decoration: none;
    color:#E5E9F0;
    transition: all 0.3s ease;
    font-size: 16px;
}

.StyledNavigationItem:hover {
    color: var(--color-primary-main);
}

.StyledThemeToggleAndCTAButtonWrapper { 
    display: flex;
    gap: var(--spacing-sm);

}