.StyledBigCardWrapper {
  padding: 30px 20px;
  background-color: var(--color-container-color);
  border: 1px solid var(--color-container-outline);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.StyledBigCardHeadWrapper {
  display: flex;
  justify-content: space-between;
}

.StyledCardTitle {
  font-weight: 600;
  font-size: 1.5rem ;

}

.StyledHeadlineAndListWrapper {
  display: flex;
  flex-direction: column;
}

.StyledHeadlineWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
  background-color: var(--color-background-default);
  border-radius: 5px;
}

.StyledTotalAmountWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px 15px 0px;
  background-color: var(--color-background-default);
  border-radius: 5px;
  margin-top: auto;
}

.StyledAddButton {
  color: var(--color-text-green);
  font-weight: 500;
  padding:var(--spacing-xs);
  font-size: var(--font-size-sm);
  justify-items: center;
  align-items: center;
  display: flex;
  gap:var(--spacing-xs);
  border-radius: var(--spacing-xs);
  background-color: var(--color-background-green);
}
.StyledAddButonRed {
  color: var(--color-text-red);
  font-weight: 500;
  padding:var(--spacing-xs);
  font-size: var(--font-size-sm);
  justify-items: center;
  align-items: center;
  display: flex;
  gap:var(--spacing-xs);
  border-radius: var(--spacing-xs);
  background-color: var(--color-background-red);
}