.StyledEditButtonWrapper {
  background-color:var(--color-custom-blue) !important;
  border-radius: 10rem;
  color:var(--color-background-white) !important;
}

.StyledEditButtonWrapper:hover {
  background-color: #3457f1 !important;
}

.StyledDeleteButton {
  background-color: var(--color-custom-purple) !important;
  color: var(--color-background-white) !important;
  border-radius: 10rem;
}

.StyledDeleteButton:hover {
  background-color: #9e1bf1/20;
}

.StyledListItemWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.StyledNameWrapper {
  display: flex;
  justify-content: start;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  height: 1.5em;
}

.StyledPriceWrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.StyledCashflowAmount {
  display: flex;
  justify-content: center;
  flex: 1;
}

.StyledCashflowAmountFourColumns {
  display: flex;
  justify-content: left;
  flex: 1;
}

.StyledActionButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
}
