.StyledEditButtonWrapper {
  background-color:var(--color-custom-blue);
  border-radius: var(--border-radius-full);
  color: var(--color-white);
}

.StyledEditButtonWrapper:hover {
  background-color: #3457f1;
}

.StyledDeleteButton {
  background-color: var(--color-custom-purple);
  color: var(--color-white);
  border-radius: var(--border-radius-full);
}

.StyledDeleteButton:hover {
  background-color: #9e1bf1;
}

.StyledListItemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs);
}

.StyledNameWrapper {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  width: 100%;
  white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.StyledPriceWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.StyledCashflowAmount {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: var(--font-size-xs);

}

.StyledCashflowAmountFourColumns {
  display: flex;
  justify-content: left;
  flex: 1;
}

.StyledActionButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: var(--spacing-xs);
}

/* For Subcomponents.tsx */

.StyledSkeletonActionIconsWrapper {
  display:flex;
  gap:var(--spacing-xs);

}