.StyledCashflowOverviewWrapper {
  width: 100%;
  background-color: white;
  border-radius: var(--border-radius-sm);
}

.StyledCashflowContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl);
}

.StyledImagePlusTextWrapper {
  display: flex;
  align-items: center;
  gap:var(--spacing-md);

}

.StyledCashflowImage {
  background-color: #f1f1f1;
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-md);
}

.StyledPaydayTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: var(--spacing-sm);
}

.StyledPaydayText {
  font-weight: var(--font-weight-medium);
}

@media screen and (min-width: 600px) {
  .StyledPaydayText {
    font-size:var(--font-size-xl);
  }
}

.StyledCashflowAmountWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.StyledCasfhlowAmount {
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--color-primary-main);
}

.StyledCashflowCalculationWrapper {
  gap: var(--spacing-sm);
  display: none;
  justify-items: center;
}

@media screen and (min-width: 600px) {
  .StyledCashflowCalculationWrapper {
    display: flex;
  }
}