.StyledCashflowOverviewWrapper {
  width: 100%;
  background-color:var(--color-container-color);
  border: 1px solid var(--color-container-outline);
  border-radius: var(--border-radius-sm);
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);

}

.StyledCashflowContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl);
}

.StyledImagePlusTextWrapper {
  display: flex;
  align-items: center;
  gap:var(--spacing-md);

}

.StyledCashflowImage {
  background-color: var(--color-background-default);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-md);
  width:var(--spacing-6xl);
  height:var(--spacing-6xl);
}

.StyledPaydayTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: var(--spacing-sm);
}

.StyledPaydayText {
  display: none;
}

.StyledCashflowAmountWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.StyledCasfhlowAmount {
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--color-primary-main);
}

.StyledCashflowCalculationWrapper {
  gap: var(--spacing-sm);
  display: none;
  justify-items: center;
}

@media screen and (min-width: 600px) {
  .StyledCashflowCalculationWrapper {
    display: flex;
  }


  .StyledPaydayText {
    display: block;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md);
    color: var(--color-primary-main);
  }
}