.StyledPricingTeaser {
    background-color: var(--color-quote-teaser-background);
    padding: var(--spacing-lg);
    border-radius:var(--border-radius-lg) ;
    border: 1px solid var(--color-container-outline);

}

.StyledPricingTeaserContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-lg);
    width: 100%;


}

.StyledTeaserHeader {
    display: flex;
    justify-content: space-between;
}

.StyledPriceAndIntervalWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xs);
}

.StyledPriceText {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--color-pricing-teaser-text);
}

.StyledIntervallText {
    color: var(--color-custom-purple);
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);

}

.StyledParagraphWrapper {
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid #825CF5;

}

.StyledTeaserBody {
    width: 100%;
}

.StyledAdvantageListWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-md);
    list-style: none;

}

.StyledListItemWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.StyledListItem {
    color: var(--color-text-primary);
    font-size: var(--font-size-md);
}

.StyledBookNowButton {
    margin-top: var(--spacing-md);
    color: var(--color-white);
    gap: var(--spacing-md);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-radius-lg);
    border: none;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    -webkit-border-radius: var(--border-radius-lg);
    -moz-border-radius: var(--border-radius-lg);
    -ms-border-radius: var(--border-radius-lg);
    -o-border-radius: var(--border-radius-lg);
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    background: var(--color-button-gradient);

}

.StyledBookNowButton:hover {
    opacity: 0.7;
}

.StyledFontAwesomeIcon {
    background-color: #8CC63F;
    color:var(--color-white);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-full);
    -webkit-border-radius: var(--border-radius-full);
    -moz-border-radius: var(--border-radius-full);
    -ms-border-radius: var(--border-radius-full);
    -o-border-radius: var(--border-radius-full);
}

.StyledFlagTopLeft {
    position: relative;
    top: -10px;       /* Hebt die Flagge etwas nach oben */
    left: -10px;      /* Verschiebt die Flagge leicht nach links */
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--color-custom-purple);

}