.StyledPricingTeaser {
    background-color: var(--color-quote-teaser-background);
    padding: var(--spacing-lg);
    border-radius:var(--border-radius-lg) ;
    border: 1px solid var(--color-container-outline);



}

.StyledPricingTeaserContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-lg);
    width: 100%;

}

.StyledTeaserHeader {
    display: flex;
    justify-content: space-between;
}

.StyledPriceAndIntervalWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xs);
}

.StyledPriceText {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--color-pricing-teaser-text);
}

.StyledIntervallText {
    color: var(--color-custom-purple);
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);

}

.StyledParagraphWrapper {
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid #825CF5;

}

.StyledTeaserBody {
    width: 100%;
}

.StyledAdvantageListWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-md);
    list-style: none;

}

.StyledListItemWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.StyledListItem {
    color: var(--color-text-primary);
    font-size: var(--font-size-md);
}

.StyledBookNowButton {
    margin-top: var(--spacing-md);
    color: var(--color-white);
    gap: var(--spacing-md);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-radius-lg);
    border: none;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    -webkit-border-radius: var(--border-radius-lg);
    -moz-border-radius: var(--border-radius-lg);
    -ms-border-radius: var(--border-radius-lg);
    -o-border-radius: var(--border-radius-lg);
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    background: var(--color-button-gradient);

}

.StyledBookNowButton:hover {
    opacity: 0.7;
}

.StyledFontAwesomeIcon {
    background-color: #8CC63F;
    color:var(--color-white);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-full);
    -webkit-border-radius: var(--border-radius-full);
    -moz-border-radius: var(--border-radius-full);
    -ms-border-radius: var(--border-radius-full);
    -o-border-radius: var(--border-radius-full);
}


.StyledFlagTopLeft {
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
    position: relative;
    left: -2.5rem;
    z-index: 1;

   
}

/* .StyledFlagTopLeft::before {
    content: '';
    position: relative;
    background-color: #8CC63F;
    left: 0;
    right: 0;
    bottom: 0;
    top: 190%;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    z-index: -10;
    width: 20px;
    height: 20px;
}

 */




.StyledParagraph {
    text-align: left;
  }


/* adjust Flag color based on variant */

  .freeVariant {
    background: linear-gradient(267.27deg, #FF00F2 -401.08%, #00FFD9 408.44%);

  }

  .basicVariant {
    background: linear-gradient(90deg, #825CF5 0%, #A578FA 100%);


  }

  .premiumVariant {
    background: var(--color-custom-purple)

  }

  .freeVariant::before {
    background: linear-gradient(267.27deg, #FF00F2 -401.08%, #00FFD9 408.44%);

  }

  .basicVariant::before {
    background: linear-gradient(90deg, #825CF5 0%, #A578FA 100%);


  }

  .premiumVariant::before {
    background: var(--color-custom-purple)

  }


