.StyledOvalFadeShapeLeft {
    position: absolute;
    width: 1253.04px;
    height: 449.09px;
    left: -677px;
    top: 200px;
    background: #5854C0;
    mix-blend-mode: screen;
    opacity: 0.2; 
    filter: blur(75px);
    z-index: -100;
  }
  
   .StyledOvalFadeShapeRight {
    position: absolute;
    width: 1253.04px;
    height: 449.09px;
    left: 973px;
    top: 200px;
    background: #5854C0;
    mix-blend-mode: screen;
    opacity: 0.2;
    filter: blur(75px);
    z-index: -100;
  }

  .StyledHighlightedSpan {
    color: var(--color-primary-main);
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  .StyledHeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    padding-top: var(--spacing-5xl)
  }


