.StyledHighlightedSpan {
    color: var(--color-primary-main);
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  .StyledHeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    padding-top: var(--spacing-3xl)
  }


.StyledImagePreviewWrapper {
  position:relative;
  padding:var(--spacing-lg);
  background-color: var(--color-preview-section-background);
  border-radius: var(--border-radius-xl);
  -webkit-border-radius: var(--border-radius-xl);
  -moz-border-radius: var(--border-radius-xl);
  -ms-border-radius: var(--border-radius-xl);
  -o-border-radius: var(--border-radius-xl);
}

.StyledPreviewSection { 
    margin: 0 auto;
}

.StyledBenefitsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
  padding-top: var(--spacing-3xl)
}

.StyledBenefitTeaserWrapper { 
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 100%;
}

@media (min-width: 600px) {
  .StyledBenefitTeaserWrapper { 
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-xl);
  }

  /* Das erste und zweite Element nebeneinander */
  .StyledBenefitTeaserWrapper > *:nth-child(1),
  .StyledBenefitTeaserWrapper > *:nth-child(2) {
    flex-basis: calc(40% - var(--spacing-xl) / 2); /* 50% minus der halbe Abstand */

  }

  /* Das dritte Element soll eine ganze Zeile einnehmen */
  .StyledBenefitTeaserWrapper > *:nth-child(3) {
    flex-basis: 50%;
    margin:auto;
  }
}




@media (min-width: 1280px) {

  .StyledBenefitTeaserWrapper { 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap !important;
    gap: var(--spacing-5xl);
  }

  .StyledBenefitTeaserWrapper > * {
    flex-basis: 30% !important;
  }
 
  
}

 .StyledBigTeaserWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2xl);
  width: 100%;
}

  
@media (min-width: 600px) {
  .StyledBigTeaserWrapper {
    grid-template-columns: 1fr 1fr;

  }
}