@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* colors */
  --color-primary-main: #5854C0;
  --color-secondary-main: #D92D20;
  --color-text-primary: #101828;
  --color-background-default: #F2F6FD;
  --color-background-white: #FFFFFF;
  --color-icon: #778499;
  --color-line:#E5E9F0;
  --color-custom-green:#14AF9C;
  --color-custom-blue:#3477F5;
  --color-custom-purple:#9E4BF6;
  --color-inactive:#778499;
  --color-items:#37383C;
  --color-success-600: #0B9055;
  --color-text-green:#0B9055;
  --color-text-red:#D92D20;


    /* fonts */
    --font-family-sans: 'Inter', sans-serif;
    --font-family-serif: 'Merriweather', serif;
  
    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    /* Font Sizes */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.25rem; /* 20px */
  
    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
  

}

body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  @apply bg-[var(--color-background-default)] dark:bg-[var(--color-background-default)];}

