.StyledOvalFadeShapeLeft {
    position: absolute;
    /* width: 1253.04px; */
    width: 50vw;
    height: 449.09px;
    top: 200px;
    background: #5854C0;
    mix-blend-mode: screen;
    opacity: 0.2; 
    filter: blur(75px);
    z-index: -100;
  }
  
   .StyledOvalFadeShapeRight {
    position: absolute;
    /* width: 1253.04px; */
    width: 50vw;
    height: 449.09px;
    top: 200px;
    right: 0;
    background: #5854C0;
    mix-blend-mode: screen;
    opacity: 0.2;
    filter: blur(75px);
    z-index: -100;
  }